/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colors =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
  --third-color: #7b9cf7;
  --fourth-color: #fd7e14;
}

/*===== Polices et typographie =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Marges =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

a.nav__link:hover {
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
  background-image: url(../img/background-image.jpg);
  background-size: 100%;
}
.home__data{
  align-self: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__data a {
  margin-top: 20px;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  text-decoration: none;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about {
  background-color:var(--second-color);
  
}
.about__subtitle{
  color: white;
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 400px;
  border-radius: .5rem;
}

.about__text {
  color: white;
}


/* ==== Formation ====*/
#formation {
  background: #f57f17;
   min-height: 60vh;
   color: var(--first-color);
   text-align: center;
   padding: 75px 0 90px;
}

#formation h1, #experience h1{
   padding-bottom: 20px;
   font-weight: 700;
}

#formation .fa-graduation-cap {
   text-align: center;
   font-size: 5rem;
   color: #eaeaea;
}

.formation__img {
  width:auto;
  height: 60px;
  margin: auto;
}

.studyItem .rightArea {
   border-left: solid 1px var(--first-color);
   padding-bottom: 40px;
}

.studyItem:last-child .rightArea {
   padding-bottom: 0px;
}

.dates h5 {
   font-size: 1.1em;
   text-align: center;
}

.dates {
   color: #252E55;
   background: #f3f3f3;
   width: 150px;
   height: 150px;
   float: center;
   margin-top: 10px;
   padding: 40px 0 40px 0;
   border-radius: 50%;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.dates:hover {
   background: #fff;
}

.arrowpart {
   float: left;
   width: 15px;
   height: 60px;
   margin-top: 30px;
   background: url(../img/arrow-left.png) no-repeat 0 23px;
}

.studyBox {
   width: auto;
   background: #2d90ec;
   border-bottom: solid 4px #eeeeee;
   padding: 22px 47px 6px 47px;
   margin-left: 15px;
   margin-top: 35px;
   text-align: left;
   border-radius: 12px;
}

.studyBox p {
   color: #f3f3f3;
   line-height: 21px;
}

.studyBox h4 {
   color: #f3f3f3;
   font-weight: 650;
   padding-bottom: 4px;
}

.studyBox h5 {
   color: #f3f3f3;
}


/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
}

.skills {
  background-color: #f2f2f2;
}

.skills-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 3rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: var(--color-primary);
  text-align: center;
  padding: 1rem 5%;
  position: relative;
  border-radius: 3px;
  transition: all 0.2s;
}

.skills-card > * {
  position: relative;
  z-index: 2;
}
.skills-card:hover {
  transform: scale(1.05);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.skill-card--img {
  width: 7rem;
  height: auto;
  margin-bottom: 2rem;
  object-fit: cover;
  filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(275deg) brightness(96%)
    contrast(104%);
}
.skills-card--1 {
  background-color: #ff6b6b;
}

.skills-card--2 {
  background-color: #0a9396;
}

.skills-card--3 {
  background-color: #ffe66d;
}

.skills-card--4 {
  background-color: #4cc9f0;
}

.skills-card--5 {
  background-color: #fd7e14;
}

.skills-card--6 {
  background-color: #42eb69;
}

.skills-card--7, .skills-card--8, .skills-card--9 {
  background-color: #ffffff;
  text-align: left;
}

.skills-card--7 {
  padding: 1rem 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.skills__items {
  display: flex;

}
.skills__items img{
  width: 4rem;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.skill-bar__icon {
  height: 2rem;
  width: 2rem;
  margin-right: var(--mb-2);
}

.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  width: 100%;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skill__container{
  row-gap: 2rem;
  text-align: center;
}

.compItems {
  padding-bottom: 6px;
}



.compItems li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  height: 32px;
  line-height: 32px;
  border-radius: 18px;
  color: #fff;
  background-color: var(--first-color);
  transition: all .6s;
}

.compItems li.inView {
  transform: translateY(0);
}

.compItems li:hover {
  background: var(--third-color);
  transition: all .3s;
}


/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}


.work__element{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  text-align: center;
  overflow: hidden;
}

.work__element, 
.work__element:hover, 
.work__element:active, 
.work__element:visited,
.work__element:link {
  text-decoration: none;
  color: inherit;
}

.work__element:hover {
  transform: scale(1.05);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.work__text {
  padding: 1rem;
  
}

.work__text p {
  text-align: justify;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    margin: auto;
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img{
    position: absolute;
    bottom: 30%;
    width: 295px;
    border-radius: 50%;
  }

  .about__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 500px;
  }

  .about__text {
    text-align: justify;
  }
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }

  .certifications {
    background-color: #f2f2f2;
  }
  .certif__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }

  .work__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}



